.profile-photo {
  display:block;
  margin: 0 auto auto 25px;
  float: right;
  width: 35%;
  height: auto;
}

.well .img-rounded {
  width: 100%;
}

.code-lang {
  font-family: 'Barrio', cursive;
}

.about {
  margin-left: 2%;
  margin-right: 2%;
}

.row h3 {
  text-align: center;
}

.boxes {
  margin-left: 2%;
  margin-right: 2%;
}

.center {
  text-align: center;
}
